# Copy to .private-patterns at the repo root (gitignored) and list terms that must never be published.
# One regular expression per line, matched case-insensitively.
# Your name is fine in LICENSE and marketplace.json; allow it with a negative lookahead if needed.
\bacme-internal\b
my-employer-name
my-private-project
